<div id="<%= dom_id agent %>">
  <p>
    <strong>Name:</strong>
    <%= agent.name %>
  </p>

  <p>
    <strong>Openai:</strong>
    <%= agent.openai_id %>
  </p>

  <p>
    <strong>Openai object:</strong>
    <%= agent.openai_object %>
  </p>

  <p>
    <strong>Openai created at:</strong>
    <%= agent.openai_created_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= agent.description %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= agent.model %>
  </p>

  <p>
    <strong>System message:</strong>
    <%= agent.system_message %>
  </p>

  <p>
    <strong>Tools:</strong>
    <%= agent.tools %>
  </p>

  <p>
    <strong>File ids:</strong>
    <%= agent.file_ids %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= agent.metadata %>
  </p>

</div>
