<div id="<%= dom_id open_ai_thread %>">
  <p>
    <strong>Openai:</strong>
    <%= open_ai_thread.openai_id %>
  </p>

  <p>
    <strong>Object:</strong>
    <%= open_ai_thread.object %>
  </p>

  <p>
    <strong>Openai created at:</strong>
    <%= open_ai_thread.openai_created_at %>
  </p>

  <p>
    <strong>Meta data:</strong>
    <%= open_ai_thread.meta_data %>
  </p>

</div>
