<div id="<%= dom_id open_ai_message %>">
  <p>
    <strong>Openai:</strong>
    <%= open_ai_message.openai_id %>
  </p>

  <p>
    <strong>Object:</strong>
    <%= open_ai_message.object %>
  </p>

  <p>
    <strong>Openai created at:</strong>
    <%= open_ai_message.openai_created_at %>
  </p>

  <p>
    <strong>Openai thread:</strong>
    <%= open_ai_message.openai_thread_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= open_ai_message.role %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= open_ai_message.content %>
  </p>

  <p>
    <strong>File ids:</strong>
    <%= open_ai_message.file_ids %>
  </p>

  <p>
    <strong>Openai assitant:</strong>
    <%= open_ai_message.openai_assitant_id %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= open_ai_message.metadata %>
  </p>

  <p>
    <strong>Run:</strong>
    <%= open_ai_message.run_id %>
  </p>

</div>
