<p style="color: green"><%= notice %></p>

<%= render @open_ai_message %>

<div>
  <%= link_to "Edit this open ai message", edit_open_ai_message_path(@open_ai_message) %> |
  <%= link_to "Back to open ai messages", open_ai_messages_path %>

  <%= button_to "Destroy this open ai message", @open_ai_message, method: :delete %>
</div>
